.hero {
    width: 100%;
    min-height: 100vh;
    background: url("../../assets/hero_bg (6).png");
    background-size: 100%;
    background-position:bottom center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text {
    text-align: left;
    max-width: 800px;
  }
  
  .hero-text h1 {
    font-size: 60px;
    font-weight: 550;
    color: #000000;
    position: absolute;
    left: 12%;
    top: 35%;
  }
  .hero-text p {
    font-size: 25px;
    font-weight: 500;
    max-width: 600px;
    line-height: 1.5;
    color: #f4fb6e;
    position: absolute;
    left: 13%;
    top: 46%;
  }

  .hero-btn {
    background: #fff;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    right: 58vh;
  }

  .hero-btn img{
    width: 20px;
    margin: 2px 5px;
  }
  
  /* Media queries */
  
  @media (max-width: 850px) {
    .hero-text h1 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 650px) {
    .hero-text h1 {
      font-size: 30px;
      max-width: 400px;
      margin: auto;
    }
  
    .hero-text p {
      font-size: 14px;
      margin: 14px auto 30px;
    }
  }
  