.footer {
    background-color: rgb(88, 88, 90);
    display: flex;
    height: 140px;
    padding: 12px 100px;
    justify-content: space-evenly;
  }
  
  .footer-first {
    font-size: 4px;
    display: flex;
    align-items: center;
  }
  
  .footer-text {
  
    font-size: 18px;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer>div {
    width: 223px;
  }
  
  footer .footer-rights {
    color: gray;
    text-align: center;
    background-color: #3a3838;
    padding: 4px 0;
  }
  
  .fcontainer {
    margin-bottom: -32px;
    width: 100%;
  }
  