.Button {
  position: fixed;
  top: 28px;
  right: 35px;
  padding: 6px 4vh;
}

.Signbutton {
  position: absolute;
  top: 23px;
  right: 48px;
  padding: 0 0;
  position: fixed;
  z-index: 10;
}

.topnav {
  background-color: #BAD9FF;
  padding: 19px 20px;
  justify-content: space-evenly;
  position: fixed;
  top: 0vh;
  height: 11vh;
  width: 100%;
  margin: 0px 0px;
  z-index: 10;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

.topnav a {
  text-decoration: none;
  color: #0A2986;
}

.topnav a:hover {
  color: #555;
}

.dark-nav {
  background: #DBE0E4;
  transition: 0.5s;
}

.logo {
  width: 93px;
  height: 93px;
  position: absolute;
  top: -12px;
}